.grid-container {
    display: grid; 
    grid-template-columns: 1fr;
    flex-direction: column;
    gap: 15px;
    padding: 25px;

  }

  .grid-item {
    user-select: none;
    height: 30px;
    padding: 10px;
    border: solid 1px black;
    position: relative;

  }
  
  .moving {
    opacity: 1;
  }
