body {
  margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 15px;
    background-color: rgb(230, 230, 230);
  }
  
  .grid-item {
    background-color: hsl(0, 0%, 80%);
    text-align: center;
    font-size: 16px;
    user-select: none;
    height: 70px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }
  
  .grabbed {
    background-color: hsl(0, 0%, 85%);
    opacity: .9;
  }
